@media screen and (max-width: 490px) {
   .list-body {
      // Header
      header .nav .users {
         display: none;
      }

      // Header
      header .nav .tweet-btn {
         display: none;
         position: absolute;
      }
   }
   .main-list {
      margin-left: 0%;
      width: 100%;
   }

   .list {
      &-header {
         top: 0;
         left: 0%;
         width: 100%;

         &-utilities {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;

            i {
               font-size: 1.5rem;
               background-color: lighten($primary-color, 1%);
               color: #fff;
               padding: 1rem;
               @include easeOut;
               position: fixed;
               bottom: 11%;
               right: 2%;
               z-index: 6;
               &:hover {
                  background-color: $light-color;
                  color: $primary-color;
               }
            }
         }
      }
   }
}
