// Large Screen
@media screen and (max-width: 1230px) {
   // Headers
   header {
      position: fixed;
      top: 0;
      left: 4%;
      width: 10%;

      .nav {
         margin-right: 1rem;

         .nav-items {
            margin-top: 1.5rem;

            h3 {
               display: none;
            }
         }

         li {
            a {
               display: flex;
               align-items: center;
               justify-content: center;
            }

            i {
               margin: 0 0.2rem;
               font-size: 1.2rem;
               cursor: pointer;
               padding: 0.2rem;
            }
         }

         .tweet-btn {
            button {
               background-color: #fff;

               img {
                  display: block;
                  width: 50px;
               }

               h4 {
                  display: none;
               }
            }
         }

         .users {
            margin-bottom: 2rem;
            width: 100%;

            h4,
            p {
               display: none;
            }
         }
      }
   }

   .main {
      margin-left: 14%;
      width: 85%;
   }

   .main-profile {
      margin-left: 14%;
      width: 85%;
   }

   .profile {
      .profile-header {
         border-right: none;
         padding: 1rem 2rem;
         position: fixed;
         top: 0;
         left: 14%;
         width: 50%;

         .profile-header-name {
            cursor: pointer;
            padding-left: 0rem;
         }
      }

      .profile-image {
         .profile-img-icon {
            position: absolute;
            bottom: -30%;
            left: 3%;

            img {
               width: 120px;
            }
         }
      }
   }

   .showcase {
      width: 100%;

      &-header {
         position: fixed;
         top: 0;
         left: 14%;
         width: 56%;
      }
   }

   .profile-search-tweet {
      .container {
         width: 90%;
      }

      &-header {
         width: 35%;
         position: fixed;
         top: 0;
         left: 65%;
      }

      .interested {
         background-color: $light-color;
         border-radius: 20px;
         width: 100%;
         margin-top: 1.5rem;

         &-header {
            border-bottom: 1px solid lighten($secondary-color, 70%);
            padding: 0.5rem;
            h3 {
               margin: 0.3rem 0;
               text-align: left;
            }
         }

         &-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid lighten($secondary-color, 70%);
            padding: 0.5rem;
            cursor: pointer;
            @include easeOut;

            i {
               color: $primary-color;
            }

            button {
               border-radius: 20px;
               padding: 0.5rem 1rem;
               border: 1px solid $primary-color;
               outline: none;
               background-color: #fff;
               color: $primary-color;
               font-size: 0.9rem;
               font-weight: bold;
               cursor: pointer;
               @include easeOut;

               &:hover {
                  background-color: $light-color;
               }
            }
            img {
               width: 50px;
            }

            &:hover {
               background-color: lighten($secondary-color, 70%);
            }
         }

         .show-more-interested {
            button {
               border: none;
               outline: none;
               background-color: inherit;
               color: $primary-color;
               // font-weight: bold;
               font-size: 1rem;
               width: 100%;
               padding: 1rem 0.5rem;
               text-align: left;
               cursor: pointer;
               @include easeOut;

               &:hover {
                  background-color: lighten($secondary-color, 70%);
                  border-radius: 0 0 20px 20px;
               }
            }
         }
      }

      .twitter-trends {
         margin-top: 2rem;
      }

      .profile-footer {
         small {
            margin: 0 0.5rem;

            a {
               &:hover {
                  @include easeOut;

                  text-decoration: underline;
               }
            }
         }
      }
   }

   .edit-profile-section {
      width: 60%;
      position: absolute;
      top: 0;
      left: 20%;

      .edit-profile {
         .edit-profile-section-header {
            width: 60%;
            position: fixed;
            top: 0;
            left: 20%;
         }

         .profile-image {
            position: relative;
            cursor: pointer;
            margin-top: 3.5rem;

            .profile-img-cover {
               position: relative;
            }

            .profile-img-icon {
               bottom: -40%;
               left: 3%;
            }
         }
      }
   }
}

// Medium-Large
@media screen and (max-width: 980px) {
   .profile {
      .profile-header {
         border-right: none;
         width: 48%;
      }

      .profile-image {
         .profile-img-icon {
            position: absolute;
            bottom: -35%;
            left: 3%;

            img {
               width: 100px;
            }
         }

         img {
            width: 100%;
         }
      }

      .profile-info {
         .profile-name-bio {
            margin-top: 2rem;
         }
      }
   }

   .profile-search-tweet {
      grid-area: profile-search-tweet;
      max-height: 100%;
      position: relative;
      width: 100%;

      .container {
         width: 90%;
      }

      &-header {
         display: flex;
         align-items: center;
         justify-content: center;
         height: 3.5rem;
         width: 40%;
         padding: 1rem 1rem;
         background-color: #fff;
         position: fixed;
         top: 0;
         left: 62%;
         z-index: 6;

         div {
            position: relative;
            width: 100%;
         }

         input {
            width: 100%;
            padding: 0.7rem 3rem;
            border-radius: 20px;
            border: none;
            outline: none;
            background-color: $light-color;
            font-size: 1rem;
         }

         i {
            position: absolute;
            top: 27%;
            left: 3%;
            color: lighten($secondary-color, 40%);
         }
      }

      .twitter-trends-images {
         margin: 4rem 0.5rem 0 0.5rem;
         display: grid;
         grid-gap: 2px;
         grid-template-columns: repeat(3, 1fr);
         background-color: $light-color;
         padding: 1rem;
         border-radius: 20px;

         .trends-image {
            width: 100px;
            cursor: pointer;
            img {
               width: 100px;
               height: 80px;
            }
         }
      }

      .interested {
         background-color: $light-color;
         border-radius: 20px;
         width: 100%;
         margin-top: 1.5rem;

         &-header {
            border-bottom: 1px solid lighten($secondary-color, 70%);
            padding: 0.5rem;
            h3 {
               margin: 0.3rem 0;
               text-align: left;
            }
         }

         &-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid lighten($secondary-color, 70%);
            padding: 0.5rem;
            cursor: pointer;
            @include easeOut;

            i {
               color: $primary-color;
            }

            button {
               border-radius: 20px;
               padding: 0.5rem 1rem;
               border: 1px solid $primary-color;
               outline: none;
               background-color: #fff;
               color: $primary-color;
               font-size: 0.9rem;
               font-weight: bold;
               cursor: pointer;
               @include easeOut;

               &:hover {
                  background-color: $light-color;
               }
            }
            img {
               width: 50px;
            }

            &:hover {
               background-color: lighten($secondary-color, 70%);
            }
         }

         .show-more-interested {
            button {
               border: none;
               outline: none;
               background-color: inherit;
               color: $primary-color;
               // font-weight: bold;
               font-size: 1rem;
               width: 100%;
               padding: 1rem 0.5rem;
               text-align: left;
               cursor: pointer;
               @include easeOut;

               &:hover {
                  background-color: lighten($secondary-color, 70%);
                  border-radius: 0 0 20px 20px;
               }
            }
         }
      }

      .twitter-trends {
         margin-top: 2rem;
      }

      .profile-footer {
         small {
            margin: 0 0.5rem;

            a {
               &:hover {
                  @include easeOut;

                  text-decoration: underline;
               }
            }
         }
      }
   }
}

// Medium Screen
@media screen and (max-width: 880px) {
   // Index Page
   .welcome {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      overflow: hidden;

      .intro {
         margin-top: 3rem;

         h3 {
            margin-top: 1rem;
         }
      }
   }

   .forms {
      width: 50%;

      .register-form-one,
      .register-form-two,
      .register-form-username {
         background-color: #fff;
         width: 100%;
         position: relative;
         display: none;
         @include easeOut;
         div {
            width: 100%;

            input,
            button {
               padding: 0.7rem 1rem;
               margin: 0.3rem 0;
               font-size: 1rem;
               width: 100%;
               border: none;
               outline: none;
               border-bottom: 2px solid lighten($secondary-color, 50%);
               background-color: $light-color;
            }

            button {
               background-color: $primary-color;
               border: none;
               color: #fff;
               font-weight: bold;
               margin-bottom: 2rem;
               cursor: pointer;
               @include easeOut;
            }
         }

         small {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 15rem;
         }
      }
   }

   // Headers
   header {
      .nav {
         .explore {
            display: none;
         }

         .explore-alt {
            display: block;
         }
      }
   }

   // Search Tweets
   .search-tweet {
      display: none;
   }

   .main {
      margin-left: 14%;
      grid-template-columns: 6fr 1fr;
      width: 85%;
   }

   .profile-search-tweet {
      display: none;
   }

   .main-profile {
      margin-left: 14%;
      grid-template-columns: 6fr 1fr;
      width: 85%;
   }

   .profile {
      grid-area: profile;
      border-right: 1px solid lighten($secondary-color, 70%);
      height: 100%;
      position: relative;
      width: 100%;

      .profile-header {
         display: flex;
         align-items: center;
         justify-content: flex-start;
         height: 3.5rem;
         border-bottom: 1px solid lighten($secondary-color, 70%);
         border-right: 1px solid lighten($secondary-color, 70%);
         padding: 1rem 2rem;
         background-color: #fff;
         position: fixed;
         width: 73%;
         z-index: 6;
         cursor: pointer;

         i {
            margin: 0 4rem 0 0;
            font-size: 1.1rem;
            color: lighten($primary-color, 1%);
            cursor: pointer;
            padding: 0.5rem;
            border-radius: 50%;
            @include easeOut;

            &:hover {
               background-color: $light-color;
               color: $primary-color;
            }
         }
         .profile-header-name {
            cursor: pointer;
         }
      }
   }

   .showcase {
      width: 100%;

      &-header {
         border-right: 1px solid lighten($secondary-color, 70%);
         position: fixed;
         top: 0;
         left: 14%;
         width: 73%;
      }
   }
}

// Small Screen
@media screen and (max-width: 680px) {
   // Headers

   header {
      position: fixed;
      top: 0;
      left: 0;
      width: 13%;
      margin-right: 1rem;

      .nav {
         .tweet-btn {
            button {
               img {
                  display: block;
                  width: 30px;
               }
            }
         }
      }
   }

   .main {
      margin-left: 14%;
      grid-template-columns: 1fr;
      width: 85%;
   }

   .main-profile {
      margin-left: 14%;
      grid-template-columns: 1fr;
      width: 85%;
   }

   .profile {
      width: 100%;

      .profile-header {
         position: fixed;
         top: 0;
         left: 14%;
         width: 100%;
         z-index: 6;

         .profile-header-name {
            padding-left: 0rem;
         }
      }

      .profile-image {
         margin-top: 3.5rem;
         position: relative;
         cursor: pointer;

         .profile-img-icon {
            position: absolute;
            bottom: -35%;
            left: 3%;

            img {
               width: 100px;
            }
         }
      }
   }

   .edit-profile-section {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;

      .edit-profile {
         .edit-profile-section-header {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
         }

         .profile-image {
            .profile-img-cover {
               position: relative;
            }

            .profile-img-icon {
               position: absolute;
               bottom: -50%;
               @include easeOut;

               img {
                  width: 100px;
               }
            }
         }
      }
   }

   .showcase {
      position: relative;
      width: 100%;

      &-header {
         border-right: none;
         position: fixed;
         top: 0;
         left: 14%;
         width: 86%;
      }
   }
}

// Extra Small
