@media screen and (max-width: 490px) {
   // Index Page
   .welcome {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      overflow: hidden;

      .intro {
         margin-top: 3rem;

         h3 {
            margin-top: 1rem;
         }
      }
   }

   .forms {
      width: 70%;

      .register-form-one,
      .register-form-two,
      .register-form-username {
         background-color: #fff;
         width: 100%;
         position: relative;
         display: none;
         @include easeOut;
         div {
            width: 100%;

            input,
            button {
               padding: 0.7rem 1rem;
               margin: 0.3rem 0;
               font-size: 1rem;
               width: 100%;
               border: none;
               outline: none;
               border-bottom: 2px solid lighten($secondary-color, 50%);
               background-color: $light-color;
            }

            button {
               background-color: $primary-color;
               border: none;
               color: #fff;
               font-weight: bold;
               margin-bottom: 2rem;
               cursor: pointer;
               @include easeOut;
            }
         }

         small {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 15rem;
         }
      }
   }

   // Header
   header {
      position: fixed;
      top: 90%;
      bottom: 0;
      left: 0%;
      width: 100%;
      z-index: 10;
      height: 7rem;

      background-color: #fff;

      .container {
         width: 100%;
         margin: 0;
      }

      .nav {
         margin-right: 1rem;
         background-color: inherit;
         width: 100vw;
         position: absolute;
         left: 0%;
         top: 0;

         .twitter-icon {
            display: none;
         }

         .nav-items {
            width: 100vw;
            // // margin-top: 5rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            height: 5rem;

            li {
               a {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
               }

               i {
                  margin: 0 0.2rem;
                  font-size: 1.2rem;
                  cursor: pointer;
                  padding: 0.2rem;
                  width: 100%;
               }
            }

            .fa-more,
            .fa-bookmark,
            .fa-user,
            .fa-list-alt {
               display: none;
            }

            h3 {
               display: none;
            }
         }

         .tweet-btn {
            display: none;
         }

         .users {
            position: fixed;
            top: -17%;
            left: 2%;
            width: 10%;

            img {
               width: 50px;
            }
         }
      }
   }

   // Main Home Page
   .main {
      margin-left: 0%;
      width: 100%;
   }

   // Home Header and Input

   .showcase {
      grid-area: showcase;
      border-right: 1px solid lighten($secondary-color, 70%);
      height: 100vh;
      position: relative;
      width: 100%;

      &-header {
         display: flex;
         align-items: center;
         justify-content: space-between;
         height: 3.5rem;
         border-bottom: 1px solid lighten($secondary-color, 70%);
         padding: 0 2rem 1rem 2rem;
         background-color: #fff;
         position: fixed;
         top: 0;
         left: 0%;
         width: 100%;
         z-index: 6;

         h3 {
            margin-left: 4rem;
         }
      }

      img {
         width: 50px;
      }
   }

   .tweet-input {
      display: none;
   }

   .tweet-section {
      margin-top: 3rem;
   }
}
