.main-notification {
   margin-left: 20%;
   display: grid;
   grid-template-areas: 'notification notification-search';
   grid-template-columns: 2fr 1fr;
   width: 80%;
   height: 100%;
}

.notification {
   grid-area: notification;
   border-right: 1px solid lighten($secondary-color, 70%);

   &-headers {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: fixed;
      top: 0;
      width: 53%;
      z-index: 6;
      background-color: #fff;

      .notification-header {
         display: flex;
         align-items: center;
         justify-content: space-between;
         width: 100%;
         padding: 1rem 2rem;

         h2 {
            font-weight: bolder;
         }

         i {
            padding: 0.5rem;
            border-radius: 50%;
            color: $primary-color;
            cursor: pointer;
            @include easeOut;

            &:hover {
               background-color: $light-color;
               color: $primary-color;
            }
         }
      }

      .notification-btns {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         text-align: center;
         border-bottom: 1px solid lighten($secondary-color, 70%);
         width: 100%;

         div {
            padding: 1rem 0;
            cursor: pointer;
            font-weight: bolder;
            @include easeOut;

            &:hover {
               background-color: $light-color;
            }
         }

         .notification-all-btn {
            border-bottom: 2px solid $primary-color;
         }
      }
   }

   .all-section {
      margin-top: 7.6rem;

      .notification-content {
         border-bottom: 1px solid lighten($secondary-color, 70%);
         padding: 0.5rem 3rem;
         cursor: pointer;
         @include easeOut;

         &-header {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            div {
               margin-right: 0.7rem;
            }

            i {
               font-size: 1.8rem;
               color: $primary-color;

               &.heart {
                  color: $danger-color;
               }

               &.retweet {
                  color: $success-color;
               }

               &.star {
                  color: $purple-color;
               }
            }

            img {
               width: 30px;
               border-radius: 50%;
               @include easeOut;

               &:hover {
                  opacity: 0.7;
               }
            }
         }

         &-text {
            margin-left: 2rem;
         }

         &:hover {
            background-color: lighten($secondary-color, 70%);
         }
      }
   }

   .mention-section {
      display: none;
      margin-top: 7.6rem;

      .tweet {
         position: relative;
         border-top: 1px solid lighten($secondary-color, 70%);
         border-bottom: 1px solid lighten($secondary-color, 70%);
         padding: 1rem 0;
         background-color: #fff;
         width: 100%;
         cursor: pointer;
         @include easeOut;

         &-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include easeOut;

            .name {
               display: flex;
               // justify-content: center;
               flex-direction: column;

               &-text {
                  display: flex;
               }

               h4,
               p {
                  margin-left: 0.5rem;
               }
            }

            i {
               padding: 0.5rem;
               border-radius: 50%;

               &:hover {
                  background-color: $light-color;
                  color: $primary-color;
               }
            }

            .extra-options-closed {
               display: none;
            }

            .extra-options-open {
               background-color: #fff;
               padding: 0.5rem;
               border-radius: 5px;
               display: flex;
               flex-direction: column;
               text-align: left;
               font-weight: 400;
               position: absolute;
               // top: 0;
               right: 2%;
               height: 85%;
               width: 35%;
               z-index: inherit;
               box-shadow: 2px 2px 2px 0px #ccc;

               a {
                  margin: 0.5rem 0;
                  width: 100%;
                  display: inline-block;
                  padding: 0.3rem;

                  &:hover {
                     background-color: lighten($secondary-color, 70%);
                  }
               }
            }

            img {
               width: 50px;
            }
         }

         &-body {
            margin-left: 3rem;

            .tweet-body-utilities {
               width: 90%;
               margin: auto;
               display: flex;
               align-items: center;
               justify-content: space-between;

               i {
                  padding: 0.5rem;
                  border-radius: 50%;
                  @include easeOut;

                  &:hover {
                     background-color: $light-color;
                     color: $primary-color;
                  }
               }

               .like {
                  &:hover {
                     background-color: lighten($danger-color, 30%);
                     color: $danger-color;
                  }
               }

               .retweet {
                  &:hover {
                     background-color: lighten($success-color, 40%);
                     color: $success-color;
                  }
               }
            }
         }

         &:hover {
            background-color: #f4f4f4;
         }
      }
   }
}
