.notification-search {
   grid-area: notification-search;
   position: fixed;
   top: 0;
   right: 1%;
   width: 25%;

   .search-tweet-header {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3.5rem;
      width: 24%;
      padding: 1rem 1rem;
      background-color: #fff;
      position: fixed;
      top: 0;
      z-index: 6;
   }
}
