.main-profile {
   margin-left: 20%;
   display: grid;
   grid-template-areas: 'profile profile-search-tweet';
   grid-template-columns: 2fr 1fr;
   width: 80%;
   border-right: 1px solid lighten($secondary-color, 70%);
}

.profile {
   grid-area: profile;
   border-right: 1px solid lighten($secondary-color, 70%);
   height: 100%;
   position: relative;
   width: 100%;

   .profile-header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 3.5rem;
      border-bottom: 1px solid lighten($secondary-color, 70%);
      border-right: 1px solid lighten($secondary-color, 70%);
      padding: 1rem 2rem;
      background-color: #fff;
      position: fixed;
      top: 0;
      left: 20%;
      width: 53%;
      z-index: 6;
      cursor: pointer;

      i {
         margin: 0 4rem 0 0;
         font-size: 1.1rem;
         color: lighten($primary-color, 1%);
         cursor: pointer;
         padding: 0.5rem;
         border-radius: 50%;
         @include easeOut;

         &:hover {
            background-color: $light-color;
            color: $primary-color;
         }
      }
      .profile-header-name {
         cursor: pointer;
      }
   }

   .profile-image {
      margin-top: 3.5rem;
      position: relative;
      cursor: pointer;

      .profile-img-icon {
         width: 150px;
         position: absolute;
         bottom: -25%;
         left: 3%;
         margin-bottom: 1.5rem;
         @include easeOut;

         img {
            width: 150px;
            border: 5px solid #fff;
            @include easeOut;

            &:hover {
               opacity: 0.9;
            }
         }
      }

      img {
         width: 100%;
      }
   }

   .profile-info {
      display: flex;
      justify-content: space-between;

      .profile-name-bio {
         margin-top: 2rem;

         .profile-bio {
            margin: 0.5rem 0;
         }
      }

      .follow {
         span {
            margin-right: 2rem;
         }
      }

      .profile-edit-btn {
         button {
            border-radius: 20px;
            padding: 0.5rem 1rem;
            border: 1px solid $primary-color;
            outline: none;
            background-color: #fff;
            color: $primary-color;
            font-size: 0.9rem;
            cursor: pointer;
            @include easeOut;

            &:hover {
               background-color: $light-color;
            }
         }
      }
   }

   .profile-content {
      position: relative;
      &-header {
         margin-top: 2rem;
         display: grid;
         grid-template-columns: repeat(4, 1fr);

         div {
            padding: 0.5rem;
            text-align: center;
            border-bottom: 1px solid lighten($secondary-color, 70%);
            cursor: pointer;
            font-weight: bold;
            font-size: 0.9rem;
            @include easeOut;

            &:hover {
               background-color: $light-color;
            }
         }

         .tweet-content {
            border-bottom: 2px solid $primary-color;
         }
      }

      .profile-tweet-section {
         .profile-tweet {
            position: relative;
            border-top: 1px solid lighten($secondary-color, 70%);
            border-bottom: 1px solid lighten($secondary-color, 70%);
            border-right: 1px solid lighten($secondary-color, 70%);
            padding: 1rem 0;
            background-color: #fff;
            width: 100%;
            cursor: pointer;
            @include easeOut;

            &-head {
               display: flex;
               align-items: center;
               justify-content: space-between;
               @include easeOut;

               .name {
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  h4,
                  p {
                     margin-left: 0.5rem;
                  }
               }

               i {
                  padding: 0.5rem;
                  border-radius: 50%;
                  @include easeOut;

                  &:hover {
                     background-color: $light-color;
                     color: $primary-color;
                  }
               }

               .extra-options-closed {
                  display: none;
               }

               .extra-options-open {
                  background-color: #fff;
                  padding: 0.5rem;
                  border-radius: 5px;
                  display: flex;
                  flex-direction: column;
                  text-align: left;
                  font-weight: 400;
                  position: absolute;
                  // top: 0;
                  right: 2%;
                  height: 47%;
                  width: 30%;
                  z-index: inherit;
                  box-shadow: 2px 2px 2px 0px #ccc;

                  a {
                     margin: 0.5rem 0;
                     width: 100%;
                     display: inline-block;
                     padding: 0.3rem;

                     &:hover {
                        background-color: lighten($secondary-color, 70%);
                     }
                  }
               }

               img {
                  width: 50px;
               }
            }

            &-body {
               margin-left: 3rem;

               .profile-tweet-body-utilities {
                  width: 90%;
                  margin: auto;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;

                  i {
                     padding: 0.5rem;
                     border-radius: 50%;
                     @include easeOut;

                     &:hover {
                        background-color: $light-color;
                        color: $primary-color;
                     }
                  }

                  .like {
                     &:hover {
                        background-color: lighten($danger-color, 30%);
                        color: $danger-color;
                     }
                  }

                  .retweet {
                     &:hover {
                        background-color: lighten($success-color, 40%);
                        color: $success-color;
                     }
                  }
               }

               img {
                  width: 100%;
                  height: 20rem;
                  border-radius: 20px;
                  margin: 0.5rem 0;
               }
            }

            &:hover {
               background-color: #f4f4f4;
            }
         }
      }

      .profile-tweet-replies-section,
      .profile-media-section,
      .profile-likes-section {
         display: none;
         .profile-tweet {
            position: relative;
            border-top: 1px solid lighten($secondary-color, 70%);
            border-bottom: 1px solid lighten($secondary-color, 70%);
            border-right: 1px solid lighten($secondary-color, 70%);
            padding: 1rem 0;
            // margin-top: 0.5rem;
            background-color: #fff;
            width: 100%;
            cursor: pointer;
            @include easeOut;

            &-head {
               display: flex;
               align-items: center;
               justify-content: space-between;
               @include easeOut;

               .name {
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  h4,
                  p {
                     margin-left: 0.5rem;
                  }
               }

               i {
                  padding: 0.5rem;
                  border-radius: 50%;
                  @include easeOut;

                  &:hover {
                     background-color: $light-color;
                     color: $primary-color;
                  }
               }

               .extra-options-closed {
                  display: none;
               }

               .extra-options-open {
                  background-color: #fff;
                  padding: 0.5rem;
                  border-radius: 5px;
                  display: flex;
                  flex-direction: column;
                  text-align: left;
                  font-weight: 400;
                  position: absolute;
                  // top: 0;
                  right: 2%;
                  height: 45%;
                  width: 30%;
                  z-index: inherit;
                  box-shadow: 2px 2px 2px 0px #ccc;

                  a {
                     margin: 0.5rem 0;
                     width: 100%;
                     display: inline-block;
                     padding: 0.3rem;

                     &:hover {
                        background-color: lighten($secondary-color, 70%);
                     }
                  }
               }

               img {
                  width: 50px;
               }
            }

            &-body {
               margin-left: 3rem;

               .profile-tweet-body-utilities {
                  width: 90%;
                  margin: auto;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;

                  i {
                     padding: 0.5rem;
                     border-radius: 50%;
                     @include easeOut;

                     &:hover {
                        background-color: $light-color;
                        color: $primary-color;
                     }
                  }

                  .like {
                     &:hover {
                        background-color: lighten($danger-color, 30%);
                        color: $danger-color;
                     }
                  }

                  .retweet {
                     &:hover {
                        background-color: lighten($success-color, 40%);
                        color: $success-color;
                     }
                  }
               }

               img {
                  width: 100%;
                  height: 20rem;
                  border-radius: 20px;
                  margin: 0.5rem 0;
               }
            }

            &:hover {
               background-color: #f4f4f4;
            }
         }
      }

      .profile-likes-section {
         .like {
            border-top: 1px solid lighten($secondary-color, 70%);
            padding: 1rem 0;
            cursor: pointer;
            @include easeOut;

            i {
               cursor: pointer;
            }

            &:hover {
               background-color: #f4f4f4;
            }
         }
      }
   }
}

.edit-profile-section {
   height: 100%;
   width: 40%;
   margin: auto;
   position: fixed;
   top: 0;
   left: 30%;
   z-index: 20;
   background-color: #fff;
   padding: 0.5rem 1rem;

   .edit-profile {
      .edit-profile-section-header {
         width: 40%;
         border-bottom: 1px solid lighten($secondary-color, 70%);
         padding: 1rem 2rem;
         background-color: #fff;
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin: 0 auto;
         position: fixed;
         top: 0;
         left: 30%;
         z-index: 6;
         .edit-section-title {
            display: flex;
            align-items: center;
            justify-content: center;

            h3 {
               margin-left: 3rem;
            }
         }

         .save-profile-btn {
            button {
               border-radius: 20px;
               padding: 0.5rem 1rem;
               border: 1px solid $primary-color;
               outline: none;
               background-color: $primary-color;
               color: #fff;
               font-size: 0.9rem;
               cursor: pointer;
               @include easeOut;

               &:hover {
                  background-color: darken($primary-color, 10%);
               }
            }
         }
      }

      .profile-image {
         position: relative;
         cursor: pointer;
         margin-top: 3.5rem;

         .profile-img-cover {
            position: relative;
         }

         .profile-img-icon {
            width: 150px;
            position: absolute;
            bottom: -55%;
            left: 3%;
            margin-bottom: 1.5rem;
            @include easeOut;

            img {
               width: 150px;
               border: 5px solid #fff;
               @include easeOut;

               &:hover {
                  opacity: 0.9;
               }
            }
         }

         img {
            width: 100%;
         }
      }

      form {
         margin-top: 3.5rem;

         div {
            margin-bottom: 1rem;

            input,
            label {
               display: block;
               width: 100%;
               border: none;
               outline: none;
               background-color: lighten($light-color, 2%);
               padding: 0.5rem 0.5rem;
            }

            input {
               border-bottom: 2px solid lighten($secondary-color, 40%);
               font-size: 1.2rem;
            }
         }

         #edit-website {
            border: none;
         }
      }
   }
}
