* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   // max-width: 1120px;
   width: 95%;
   margin: auto;
}

.current {
   color: $primary-color;
}

.dark-overlay {
   display: none;
   background-color: rgba($secondary-color, 0.3);
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10;
}

a {
   color: #333;
   text-decoration: none;
}

li {
   list-style: none;
}

.rounded-img {
   border-radius: 50%;
}

// EaseOut Transition
@mixin easeOut {
   transition: all 0.5s ease-out;
}
