@import 'config';
@import 'utilities';
@import 'tweet';
@import 'search-tweets';
@import 'profile';
@import 'profile-search-tweets';
@import 'explore';
@import 'explore_follow';
@import 'notification';
@import 'notification-search';

@import 'forms';

body {
   background-color: #fff;
   color: #333;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 16px;
   line-height: 1.6;
}

.welcome {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   height: 100vh;
   width: 100%;

   img {
      width: 150px;
   }

   h3 {
      margin-top: 4rem;
      font-size: 1.3rem;
   }
}

header {
   position: fixed;
   top: 0;
   left: 0;
   width: 20%;
   background-color: #fff;
   height: 100vh;
   border-right: 1px solid lighten($secondary-color, 70%);

   .nav {
      margin: 0 1rem;

      .twitter-icon {
         width: 50px;
         margin-top: 1rem;
         border-radius: 50%;
         cursor: pointer;
         display: flex;
         align-items: center;
         justify-content: center;
         @include easeOut;

         img {
            width: 50px;
            // padding: 0.1rem;
         }

         &:hover {
            background-color: $light-color;
         }
      }

      .explore-alt {
         display: none;
      }

      li {
         color: #333;
         background-color: #fff;

         a {
            display: flex;
            align-items: center;
            padding: 0.5rem 1rem;
            border-radius: 25px;
            @include easeOut;

            &:hover {
               background-color: $light-color;
               color: $primary-color;
            }
         }

         i {
            margin-right: 0.7rem;
            font-weight: 520;
         }
      }

      .tweet-btn {
         img {
            border-radius: 50%;
            display: none;
         }

         button {
            width: 100%;
            background-color: darken($primary-color, 10%);
            border-radius: 25px;
            padding: 0.8rem 1rem;
            border: none;
            outline: none;
            font-size: 1rem;
            font-weight: bolder;
            margin-top: 1rem;
            cursor: pointer;
            @include easeOut;

            a {
               color: #fff;
            }
         }
      }

      .users {
         margin-top: 35%;
         display: flex;
         align-items: center;
         justify-content: space-around;
         width: 100%;
         padding: 0.5rem 0rem;
         border-radius: 35px;
         @include easeOut;
         cursor: pointer;

         img {
            margin-top: 0;
            padding: 0.5rem;
         }

         &:hover {
            background-color: $light-color;
         }
      }

      img {
         width: 50px;
         margin-top: 1rem;
      }
   }
}

.main {
   margin-left: 20%;
   display: grid;
   grid-template-areas: 'showcase search-tweet';
   grid-template-columns: 2fr 1fr;
   width: 80%;
}

@import 'mobile';
@import 'mobile_smart_phones';
@import 'home_mobile_smart_phones';
@import 'profile_mobile_smart_phones';
@import 'explore_mobile_smart_phones';
@import '../test';
